{% from macro('dropdown') import render_dropdown %}

{% extends layout('main/show') %}

{% block footer %}
    {{ render_dropdown(items=[
        {
            'icon': 'fas fa-clone',
            'label': 'Clonar receita',
            'href': view('recipe:clone', id=model.id)
        },
        {
            'icon': 'fas fa-boxes-stacked',
            'label': 'Gerenciar ingredientes',
            'href': view('recipe_ingredient:index', primary_id=model.id)
        },
        {
            'icon': 'fas fa-boxes-stacked',
            'label': 'Gerenciar materiais',
            'href': view('recipe_material:index', primary_id=model.id)
        },
    ]) }}
{% endblock %}