{% from macro('button/back_button') import render_back_button with context %}
{% from macro('button/delete_button') import render_delete_button with context %}
{% from macro('button/edit_button') import render_edit_button with context %}
{% from macro('header') import render_header with context %}
{% from macro('table/single_table') import render_single_table %}

{% extends layout('base') %}

{% block header %}
    {{ render_header(
        header.icon,
        header.title,
        subtitle='Visualizar',
    ) }}
{% endblock %}

{% block main %}
    <div class="is-flex mb-3">
        {{ render_back_button(href=view(module ~ ':index')) }}
        <div class="is-flex is-gap-1 ml-auto">
            {{ render_edit_button(href=view(module ~ ':edit', id=model.id)) }}
            {{ render_delete_button(
                href=view(module ~ ':delete', id=model.id),
                description=(
                    'Esta ação é irreversível — ' ~
                    'Se houver registros vinculados à entidade, eles também serão excluídos'
                )
            ) }}
        </div>
    </div>
    {{ render_single_table(columns, model) }}
{% endblock %}

{% block footer %}{% endblock %}