{% macro _render_navbar_item(label, href) %}
    <a class="navbar-item" href="{{ href }}">
        {{ label }}
    </a>
{% endmacro %}

<nav class="navbar is-fixed-top has-text-weight-medium has-shadow">
    <div class="navbar-brand">
        <a class="navbar-burger" data-target=".navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {{ _render_navbar_item(label='Clientes', href=view('customer:index')) }}
            {{ _render_navbar_item(label='Funcionários', href=view('employee:index')) }}
            {{ _render_navbar_item(label='Mensalidades', href=view('monthly_fee:index')) }}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Estoque</a>
                <div class="navbar-dropdown">   
                    {{ _render_navbar_item(
                        label='Ingredientes',
                        href=view('ingredient:index'),
                    ) }}
                    {{ _render_navbar_item(
                        label='Materiais',
                        href=view('material:index'),
                    ) }}
                </div>
            </div>
            {{ _render_navbar_item(label='Receitas', href=view('recipe:index')) }}
            {{ _render_navbar_item(label='Produtos', href=view('product:index')) }}
            {{ _render_navbar_item(
                label='Métodos de Pagamento',
                href=view('payment_method:index'),
            ) }}
            {{ _render_navbar_item(label='Vendas', href=view('sale:index')) }}
        </div>
        <div class="navbar-end">
            {{ _render_navbar_item(label='Perfil', href=view('user:show')) }}
        </div>
    </div>
</nav>