{% macro _render_navbar_item(label, href) %}
    <a class="navbar-item" href="{{ href }}">
        {{ label }}
    </a>
{% endmacro %}

{% macro _render_navbar_dropdown(label, items) %}
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{ label }}</a>
        <div class="navbar-dropdown">
            {% for item in items %}
                {{ _render_navbar_item(item.label, item.href) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<nav class="navbar is-fixed-top has-text-weight-medium has-shadow">
    <div class="navbar-brand">
        <a class="navbar-burger" data-target=".navbar-menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {{ _render_navbar_item(label='Clientes', href=view('customer:index')) }}
            {{ _render_navbar_item(label='Funcionários', href=view('employee:index')) }}
            {{ _render_navbar_item(label='Mensalidades', href=view('monthly_fee:index')) }}
            {{ _render_navbar_dropdown(
                label='Estoque', 
                items=[
                    { 
                        'label': 'Ingredientes',
                        'href': view('ingredient:index') 
                    },
                    { 
                        'label': 'Materiais',
                        'href': view('Material:index') 
                    },
                ]
            ) }}
            {{ _render_navbar_dropdown(
                label='Ficha Técnica', 
                items=[
                    { 
                        'label': 'Categorias', 
                        'href': view('category:index')
                     },
                    { 
                        'label': 'Receitas', 
                        'href': view('recipe:index')
                    },
                ]
            ) }}
            {{ _render_navbar_item(label='Produtos', href=view('product:index')) }}
            {{ _render_navbar_item(
                label='Métodos de Pagamento',
                href=view('payment_method:index'),
            ) }}
            {{ _render_navbar_item(label='Vendas', href=view('sale:index')) }}
        </div>
        <div class="navbar-end">
            {{ _render_navbar_item(label='Perfil', href=view('user:show')) }}
        </div>
    </div>
</nav>